body {
    background-color: rgb(255, 255, 255);
}


#lightSbtn{
    position: absolute;
    top: 10px;
    left: 10px;

}

#myButton {
    display: inline;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 18px solid rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    /* znahodzhennya */
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}
#myButton:hover {
    border: 3px solid rgb(0, 0, 0);
    background-color: white;
    color: black;
}
#deleteButton {
    display: inline;
    background-color:rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    border: 8px solid rgb(255, 106, 0);
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;

    /* znahodzhennya */
    position:absolute;
    top:19%;
    right:1%;
    transform: translate(-50%,-50%)
}
#deleteButton:hover {
    border: 3px solid rgb(255, 0, 0);
    background-color: rgb(255, 115, 0);
    color: rgb(0, 0, 0);
}
/* #wallContainer {
    background-color: rgb(75, 4, 255);
    border: 2px solid rgb(0, 0, 0);
    width: 15%;
    height: 50%;

    position:absolute;
    top:30%;
    left:73%;
    transform: translate(-50%,-50%);
} */
/* #object {
    width:100px;
    height:50px;
    background-color:rgb(255, 166, 0);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
} */