body {
    background-color: rgb(255, 0, 0);
}
#myButton {
    display: inline;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 18px solid rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    /* znahodzhennya */
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}
#myButton:hover {
    border: 3px solid rgb(0, 0, 0);
    background-color: white;
    color: black;
}
/* #object {
    width:100px;
    height:50px;
    background-color:rgb(255, 166, 0);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
} */